@mixin main-content {
    max-width: 800px;
    margin: 6rem auto 3rem;
    padding: 1rem;
}

@mixin pattern-seigaiha($color1, $color2) {
    background-color:$color1;
    background-image: 
    radial-gradient(circle at 100% 150%, $color1 24%, $color2 25%, $color2 28%, $color1 29%, $color1 36%, $color2 36%, $color2 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $color1 24%, $color2 25%, $color2 28%, $color1 29%, $color1 36%, $color2 36%, $color2 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $color2 10%, $color1 11%, $color1 23%, $color2 24%, $color2 30%, $color1 31%, $color1 43%, $color2 44%, $color2 50%, $color1 51%, $color1 63%, $color2 64%, $color2 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $color2 5%, $color1 6%, $color1 15%, $color2 16%, $color2 20%, $color1 21%, $color1 30%, $color2 31%, $color2 35%, $color1 36%, $color1 45%, $color2 46%, $color2 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $color2 5%, $color1 6%, $color1 15%, $color2 16%, $color2 20%, $color1 21%, $color1 30%, $color2 31%, $color2 35%, $color1 36%, $color1 45%, $color2 46%, $color2 49%, transparent 50%, transparent);
    background-size:80px 40px;
}

@mixin pattern-shippo($color) {
    background-color: $color;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}

@mixin pattern-steps($color1, $color2) {
    background-color: $color1;
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
    0px 36px, 4px 2px, 29px 6px, 33px 30px;
    background-image: 
    linear-gradient(335deg, $color2 23px, transparent 23px),
    linear-gradient(155deg, $color2 23px, transparent 23px),
    linear-gradient(335deg, $color2 23px, transparent 23px),
    linear-gradient(155deg, $color2 23px, transparent 23px),

    linear-gradient(335deg, $color2 10px, transparent 10px),
    linear-gradient(155deg, $color2 10px, transparent 10px),
    linear-gradient(335deg, $color2 10px, transparent 10px),
    linear-gradient(155deg, $color2 10px, transparent 10px);
}

@mixin pattern-brady($color1, $color2, $color3) {
    $color1d: darken($color1,10);
    $color2d: darken($color2,10);
    $color3d: darken($color3,10);

    background-image:
    radial-gradient(closest-side, transparent 0%, transparent 75%, $color1d 76%, $color1d 85%, $color2d 86%, $color2d 94%, $color3 95%, $color3 103%, $color1 104%, $color1 112%, $color3d 113%, $color3d 121%, $color3 122%, $color3 130%, $color2 131%, $color2 140%),
    radial-gradient(closest-side, transparent 0%, transparent 75%, $color1d 76%, $color1d 85%, $color2d 86%, $color2d 94%, $color3 95%, $color3 103%, $color1 104%, $color1 112%, $color3d 113%, $color3d 121%, $color3 122%, $color3 130%, $color2 131%, $color2 140%);
    background-size: 80px 80px;
    background-color: $color1;
    background-position: 0 0, 40px 40px;
}