$standard-font: "Open Sans", Roboto, Tahoma, sans-serif;
$header-font: "Merriweather", serif;
$accent-font: "Oleo Script", Georgia, serif;
$code-font: "Roboto Mono", Consolas, monospace;

$standard-text-color: #363234;
$muted-text-color: #36323498;

$code-text-color: $standard-text-color;
$code-text-background: #E5E5E5;

$header-color: #8DD383;
$header-text-color: #363234;

$header-drawer-color: #E5E5E5;
$header-drawer-text-color: #363234;

$link-color: #FCA311;
$link-color-hover: darken(#FCA311, 20);

$tag-bar-color: #E5E5E5;
$tag-bar-text-color: $standard-text-color;

$scroll-active-color: #FCA311;

$scroll-top-color: #FCA311;

// Option 1
// $standard-text-color: #383838;
// $muted-text-color: #383838af;

// $code-text-color: $standard-text-color;
// $code-text-background: #f0f0f0;

// $header-color: #7243c8;
// $header-text-color: #f4f4f4;

// $header-drawer-color: #3a1c69;
// $header-drawer-text-color: #f4f4f4;

// $link-color: #e4a700;
// $link-color-hover: #b38508;

// $tag-bar-color: #ffd86e;
// $tag-bar-text-color: $standard-text-color;

// $scroll-active-color: #ffd86e;
//

// Option 2
// $standard-text-color: #272727;
// $muted-text-color: #27272798;

// $code-text-color: $standard-text-color;
// $code-text-background: #E6E8E6;

// $header-color: #ffe6a2;
// $header-text-color: #272727;

// $header-drawer-color: #E6E8E6;
// $header-drawer-text-color: #272727;

// $link-color: #FF6B35;
// $link-color-hover: darken(#FF6B35, 20);

// $tag-bar-color: #E6E8E6;
// $tag-bar-text-color: $standard-text-color;

// $scroll-active-color: #FF6B35;


//Major 3rd scale (1.250)
$font-size-xxxl: 2.441em;
$font-size-xxl: 1.953em;
$font-size-xl: 1.563em;
$font-size-lg: 1.25em;
$font-size-md: 1em;
$font-size-sm: 0.8em;
$font-size-xs: 0.64em;

//black
$logo-image-color: $header-text-color;
$logo-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 19.502 19.502' style='enable-background:new 0 0 19.502 19.502;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:" + $logo-image-color + ";' d='M18.601,8.065c0.401-0.066,0.729-0.408,0.742-0.422l0.159-0.168c0,0-0.61-0.16-0.646-0.17 c-0.035-0.019-5.267-3.345-5.267-3.345L8.79,5.245c0,0-1.219,0.766-1.29,0.809c-0.08-0.01-0.848-0.129-0.848-0.129 S6.551,6.138,6.526,6.189c-0.062,0.039-2.464,1.508-2.53,1.549C3.92,7.73,1.247,7.524,1.247,7.524L1.216,7.628 C1.09,8.064,0.858,8.8,0.785,8.919c-0.035,0.043-0.271,0.053-0.512,0L0,8.858l0.137,0.258C0.142,9.128,0.299,9.42,0.588,9.554 C0.773,9.639,1.014,9.681,1.156,9.7v0.48c-0.062,0.018-0.172,0.048-0.172,0.048l-0.22,0.309c0,0-0.021,0.426-0.027,0.512 c-0.058,0.057-0.354,0.337-0.354,0.337s0.218,0.229,0.269,0.281c0,0.106,0,2.647,0,2.647l2.28,1.229h15.887V8.771h-0.125 c0,0-0.289-0.008-0.646-0.193c-0.192-0.102-0.378-0.234-0.501-0.338c0.145-0.021,0.354-0.059,0.645-0.105L18.601,8.065z M18.201,8.933c0.063,0.023,0.125,0.043,0.182,0.057v0.316c-0.892-0.027-4.026-0.129-5.623-0.256 c-1.876-0.148-4.228-0.559-4.228-0.559S7.479,8.954,6.497,9.156C5.517,9.364,4.278,9.08,4.278,9.08l-2.771,0.5L1.479,10.11 c0,0,0.139-0.086,0.195,0.061c0.055,0.145-0.112,0.293-0.224,0.324c-0.111,0.027-0.363,0.321-0.363,0.321l2.499,0.457l1.979-0.164 v-0.35l2.912,0.265c0,0,3.329-0.088,3.467-0.174c0.143-0.091,0.227-0.031,0.451-0.207c0.224-0.179,0.252-0.091,0.363-0.209 c0.111-0.115,0.252,0,0.393-0.146c0.14-0.146,0.25,0.031,0.67-0.176c0.162-0.08,0.336,0.029,0.562-0.029 c0.223-0.057,0.393-0.029,0.531-0.207c0.141-0.178,0.279,0.029,0.418,0.178c0.143,0.146,0.311,0.119,0.447,0.088 c0.142-0.029,0.226,0,0.505,0.059c0.278,0.059,0.31,0.029,0.364-0.146c0.056-0.178,0.279-0.088,0.394-0.027 c0.11,0.057,0.362,0,0.587-0.15c0.143-0.094,0.506,0.047,0.753,0.16v5.049h-0.18c-0.451-0.479-0.948-0.975-1.081-1.236 c-0.205-0.399-0.411-1-0.411-1s0.233-0.164,0.479-0.285s0.834-0.639,0.834-0.639l-1.295,0.51l0.27-1.471 c0,0-0.41,1.002-0.617,1.441c-0.202,0.443,0.25,1.163,0.25,1.163s-0.371-0.16-0.739-0.281c-0.07-0.021-0.217-0.066-0.412-0.123 c-0.166-0.414-0.668-1.617-0.848-1.705c0,0,0.165,0.691,0.221,0.828c0.045,0.113,0.133,0.604,0.155,0.738 c-0.889-0.258-2.101-0.605-2.101-0.605s1.223,0.559,2.248,1.018c-0.18,0.066-0.377,0.144-0.469,0.181 c-0.191,0.08-0.82,0.188-1.097,0.135c-0.272-0.056-1.038-0.296-1.038-0.296l0.798,0.51l-1.068,0.664c0,0,1.941-0.825,2.324-0.799 c0.306,0.021,0.818-0.127,1.015-0.19c0.39,0.174,0.705,0.311,0.846,0.364c0.375,0.142,0.647,0.636,0.896,1.074H2.769 c-0.021-0.11-0.03-0.233,0.024-0.289c0.113-0.119,0.059-0.09,0.254-0.326c0.195-0.233,0.447,0.179,0.475,0.029 c0.029-0.146,0.141-0.06,0.506,0c0.362,0.057,0.082-0.029,0.362-0.177c0.281-0.146,0.113-0.146,0.168-0.354 c0.055-0.208,0,0,0.281-0.178c0.277-0.176,0.139-0.146,0.082-0.264c-0.055-0.115,0.029-0.146,0.225-0.232 c0.195-0.092,0.306-0.121,0.306-0.297c0-0.177,0.394-0.086,0.562-0.234c0.168-0.146,0.141,0.029,0.42,0 c0.279-0.028,0.225-0.059,0.531-0.266c0.306-0.207,0.279,0.118,0.279,0.118s0.337,0.06,0.448,0 c0.113-0.061,0.113-0.118,0.559,0.029C8.7,12.79,8.71,12.825,9.017,12.854c0.308,0.028,0.279,0.176,0.504,0.265 c0.225,0.088,0,0,0.393,0c0.392,0,0.14-0.148,0.167-0.293c0.029-0.148,0.252-0.029,0.365-0.029c0.111,0,0.309-0.147,0.391-0.269 c0.084-0.116,0.197-0.112,0.309-0.172c0.112-0.059,0.217-0.303,0.242-0.391c0.028-0.09,0.393-0.09,0.559-0.059 c0.172,0.029,0.143-0.031,0.283-0.062c0.14-0.028,0.476-0.235,0.476-0.235l-4.34,0.357l-2.855-0.325v0.297l-2.605,0.31 l-1.999-0.476c0-0.135,0-0.217,0-0.217s-0.097-0.1-0.153-0.16c0.088-0.082,0.234-0.221,0.234-0.221S1.014,10.7,1.016,10.63 c0.027-0.037,0.087-0.121,0.118-0.166c0.055-0.012,0.276-0.069,0.276-0.069V9.455l-0.117-0.01c-0.006,0-0.373-0.029-0.603-0.137 C0.64,9.288,0.596,9.256,0.556,9.222c0.119,0.002,0.245-0.012,0.336-0.064L1.87,8.962L1.397,7.925 c0.011-0.043,0.023-0.08,0.034-0.117c0.141,0.012,1.59,0.123,2.272,0.176L3.016,8.431L3.4,8.488c0,0,0.311-0.248,0.619-0.48 C4.04,8.009,4.055,8.009,4.055,8.009L6.722,6.38c0,0,0.008-0.018,0.019-0.039l3.605,0.537l0.327-0.25V6.569L7.796,6.183 c0.203-0.129,0.491-0.307,0.72-0.451l4.901-1.287l0.188,1.488c-0.16,0.172-0.437,0.451-0.68,0.588 C12.563,6.726,12.2,6.579,12.2,6.579s-0.113,0.262-0.533,0.529c-0.418,0.264-1.483,0.117-1.483,0.117 c0.225,0.855,1.933,1.117,3.525,1.295C14.963,8.659,17.269,8.854,18.201,8.933z M14.915,6.784 c-0.499-0.141-0.798-0.406-0.971-0.631c-0.032-0.25-0.209-1.521-0.235-1.639c-0.011-0.057,0.019-0.102,0.056-0.131 c0.914,0.582,4.459,2.834,4.937,3.139C17.741,7.356,15.638,6.985,14.915,6.784z M2.669,8.486c0,0-0.056,0.154-0.256,0.365 C2.212,9.064,1.83,9.083,1.83,9.083s0.418,0.074,0.839-0.02C3.089,8.968,4.82,8.642,4.82,8.642S4.029,8.649,3.463,8.649 C2.898,8.649,2.669,8.486,2.669,8.486z M6.713,6.46L5.427,8.433c0,0,0.944-0.117,1.307-0.117c0.367,0,1.809,0.076,1.809,0.076 S7.974,8.08,7.468,7.548C6.965,7.019,6.713,6.46,6.713,6.46z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");